
.logo-style{
  height: 15vh;
  border-radius: 50%;
  margin-top: 10px;


}
.logo-style:hover{
  height: 10vh;
}
.main-nav{
  display: flex;;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid grey; */
  /* margin-left: 20px;
  margin-right: 20px; */
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 5px  rgb(233, 233, 233) ;
  /* background-image: linear-gradient(red,pink); */
  background-color: #E26F24;
  border-radius: 10px;

}
.nav-info >ul {
  display: flex;
  gap: 30px;
  font-size: 30px;
  list-style: none;
  color: #fff;
  /* font-weight: bold; */
}
.login-style{
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  

}
.App-style{
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid white;
}
/* .login-style:hover{
  background-color: red;
  color: #fff;
  border: None;
  
} */
.res-styel{
  height: 30vh;
  width: 40vh;
  transform: scaleX(-1);
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-bottom: 0px;
box-shadow: 10px 10px 10px rgb(94, 91, 91);

}

.res-card{
  margin-top: 20px;
  height: 50vh;
  width: 40vh;
  margin-bottom: 10px;
  
}
.swiggylogo{
  height: 20vh;
padding-top: 10px;
padding-left: 20px;
}
.footer-card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  background-color: #000;
  color: #fff;
}
.banner-img{
  width: 90vw;
  margin: 20px;
  margin-left: 60px;
}
.login-page{
  background: linear-gradient(orange,white);
 
  height: 50vh;
  width: 30vw;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  


}
.login-page input{
  width: 25vw;
  height: 32px;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 1px solid rgb(156, 167, 156);
  padding-left: 20px;
}
.login-page button {
  width: 27vw;
  height: 42px;
  border-radius:20px ;
  background-color: orange;
  border: none;
}
.login-constainer{
  display: flex;
  justify-content: center;
}
.banner-img{
  border-radius: 0px;
  height: 40vh;
  width: 35vw;
  
}
.banner-img-1{
  height: 80vh;
  width: 40vw;
  margin-left: -20vh;
}
.banner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.banner-content input{
  margin-top: 150px;
  height: 50px;
  width: 80vh;
  margin-left: 90px ;
  border-radius: 10px;
  /* border: 5px solid #E26F24; */
  border: 5px  solid;
  border-image-slice: 1;

  border-image-source: linear-gradient(#E26F24, white,rgb(0, 0, 0));
  padding-left: 10px;
  font-size: 20px;
}
.imgs-div-banner{
  display: flex;
  height: 90vh;
  flex-direction: row;
  justify-content:space-around;
  gap: 0p;
  align-items: end;
}
.nav-info ul li {
  cursor: pointer;
}